<!DOCTYPE html>
<html>
<head>
	<title>my app</title>
</head>
<body>
<h1>my app</h1>
<ul>

     <% for(var i=0;i<items.length;i++) {%>
	<li><%=items[i].desc%></li>
  <% }%>
	
</ul>
<form action="/add" method="post">
	<input type="text" name="newItem">
	<input type="submit" name="submit">
</form>
</body>
</html>